# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/
data/interim/
data/processed/

# Generated artifacts
artifacts/

# Trained models
models/*.keras
models/*.h5
models/*.pkl

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TensorFlow
*.pb